In [1]:
import pandas as pd
import os

In [3]:
df = pd.read_csv(os.environ['HOME'] + '/src/blake/data/coffee.csv')

In [7]:
print(df)

  coffee_type  has_milk
0       black     False
1       latte      True
2   americano     False

In [13]:
out_dirname = '/Users/nhonaitran/src/blake/tmp'

In [14]:
print(out_dirname)

/Users/nhonaitran/src/blake/tmp

In [15]:
os.makedirs(out_dirname, exist_ok=True)

In [16]:
df.to_parquet(out_dirname + '/coffee.parquet')

In [17]:
df2 = pd.read_parquet(out_dirname + '/coffee.parquet')

In [18]:
coffee_with_milk = df2[df2['has_milk'] == True]

In [19]:
coffee_with_milk

  coffee_type  has_milk
1       latte      True

In [20]:
coffee_without_milk = df2[df2['has_milk'] == False]

In [21]:
coffee_without_milk

  coffee_type  has_milk
0       black     False
2   americano     False